body {
    background-color: skyblue;
    height: 110vh;
}

#eLabel {
    text-decoration: underline;
}

#swap-arrow {
    font-size: 7em;
}

#swap-arrow:hover {
    cursor: pointer;
}

label {
    font-size: 3em;
}

textarea {
    border: 5px solid black !important;
    border-radius: 10px;
}
